/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.05.2016, 12:40:22
    Author     : vaio
*/

body {
    background-color: #f9ed00;
}

#wrapper{
    margin: 0px auto;
    width: 1200px;
    background-color: #fff;
    min-height: 700px;
}

header{
    margin: 0 auto;
    height: 180px;
}

#loginForm{
    alignment-adjust: central;
}

#nav {
    width: 100%;
    float: left;
    margin: 0 0 0;
    padding: 0;
    list-style: none;
    background: #45484d;     

}
#nav li {
    float: left;
}
   
#nav li a {
    display: block;
    padding: 12px 35px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
   
#nav li a:hover {
    color: yellow;
 
}

h1 {
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 22px;
}


#content {
    background-color: #fff;
    width: 875px;
    min-height: 300px;
    margin: 0 auto;
    display: block;
}

#records-content{
    background-color: #fff;
    width: 1100px;
    min-height: 300px;
    margin: 0 auto;
    display: block;
}



   #tfnewsearch{
       float:right;
       padding-right: 10px;
   }
   .tftextinput{
       margin: 0;
       padding: 5px 15px;
       font-family: Arial, Helvetica, sans-serif;
       font-size:14px;
       border:1px solid #000; border-right:0px;
       border-top-left-radius: 5px 5px;
       border-bottom-left-radius: 5px 5px;
   }
   .tfbutton {
       margin: 0;
       padding: 5px 15px;
       font-family: Arial, Helvetica, sans-serif;
       font-size:14px;
       outline: none;
       cursor: pointer;
       text-align: center;
       text-decoration: none;
       color: #000;
       border: solid 1px #000; border-right:1px;
       background: yellow;
       border-top-right-radius: 5px 5px;
       border-bottom-right-radius: 5px 5px;
   }
   .tfbutton:hover {
       text-decoration: none;
       background: #000;
       color:  #fff;
       background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
       background: -moz-linear-gradient(top,  #000,  #000);
   }
   /* Fixes submit button height problem in Firefox */
   .tfbutton::-moz-focus-inner {
       border: 0;
   }
   .tfclear{
       clear:both;
   }
   
   ul.products{
       margin: 0 auto;
       padding-top: 25px;
       padding-bottom: 20px;
   }
   
   ul.products li {
       padding-left: 42px;
       width: 245px;
       display: inline-block;
       font-size: 18px;
   }
   
    ul.products li:hover {
       box-shadow: 10px 10px 15px #888888;
       opacity: .8;
   }

   #gradient-separator{
        height: 10px;
        width: 1200px;
        background: #45484d; /* Old browsers */
        background: -moz-linear-gradient(left,  #45484d 0%, #000000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #45484d 0%,#000000 100%); /* IE10+ */
        background: linear-gradient(to right,  #45484d 0%,#000000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
   }
   
   #submitOrder {
       width: 130px;
       height: 30px;
   }
   #payment{
       width: 160px;
       height: 30px;
   }
   
   #cancelOrder{
       width: 130px;
       height: 30px;
   }
   #button_center{
       padding-bottom: 30px;
       text-align:center;
       margin:0 auto;
   }
   
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  position: relative;
}


#cssmenu {
  width: 600px;
  
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
 
}
#cssmenu a {
  line-height: 1.3;
}

#cssmenu ul {
background: #f7fcbd; /* Old browsers */
background: -moz-linear-gradient(top,  #f7fcbd 0%, #fcf04e 50%, #f9ed00 51%, #fcfc94 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fcbd), color-stop(50%,#fcf04e), color-stop(51%,#f9ed00), color-stop(100%,#fcfc94)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7fcbd 0%,#fcf04e 50%,#f9ed00 51%,#fcfc94 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7fcbd 0%,#fcf04e 50%,#f9ed00 51%,#fcfc94 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7fcbd 0%,#fcf04e 50%,#f9ed00 51%,#fcfc94 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7fcbd 0%,#fcf04e 50%,#f9ed00 51%,#fcfc94 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fcbd', endColorstr='#fcfc94',GradientType=0 ); /* IE6-9 */
color: #000;
font-weight: bold;
text-transform: uppercase;
width: 600px;
min-height: 25px;
text-align:center;
font-size: 17px;

}
#cssmenu > ul > li:first-child {
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */



  
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(menu_images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; 
  color: #fff;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}


#cssmenu > ul > li {
    
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */


}
#cssmenu > ul > li:hover {
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}
#cssmenu > ul > li > a {
  font-size: .9em;
  display: block;
  background: url(menu_images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #ba2f14;
  border-top: none;
  text-shadow: 0 -1px 1px #751d0c;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(menu_images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(menu_images/icon_minus.png) 96% center no-repeat;
}

#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: .8em;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: '\00BB';
  position: absolute;
  left: 10px;
  color: #e94f31;
}
#cssmenu ul ul a:hover {
  color: #e94f31;
}

.cartItemsSelected {
    text-align:left;
}

#findRecords{
    width: 400px;
    height: 45px;   
}

#admin-content{
    background-color: #fff;
    min-height: 230px;
    width: 400px;
    margin: 0 auto;
}

#user-content{
    background-color: #fff;
    min-height: 230px;
    width: 400px;
    margin: 0 auto;
}

#panelButtons{
    padding-top: 50px;
}

tr{
    text-align:center;
}

table{
    padding-top: 20px;
    width:100%;
}
th{
    background-color: #ffff99;
}